[Settings]
# 总开关
Enabled = true

ShowKnightInfo = true
ShowCustomInfo = true
ShowSceneName = true
ShowTime = true
ShowUnscaledTime = false
ShowTimeOnly = false
ShowTimeMinusFixedTime = true
ShowRng = true

ShowEnemyHp = true
ShowEnemyPosition = true
ShowEnemyVelocity = true

ShowHitbox = true
ShowOtherHitbox = false

PositionPrecision = 5
VelocityPrecision = 3
StartingGameTime = 0
PauseTimer = false
StartingSoul = 0
StartingHealth = 0
DisableFFDuringLoads = false

# 碰撞箱颜色 ARGB 格式，注释或删除则不显示该类 hitbox
KnightHitbox = 0xFF00FF00
AttackHitbox = 0xFF00FFFF
EnemyHitbox = 0xFFFF0000
HarmlessHitbox = 0xFFFFFF00
TriggerHitbox = 0xFFAA88FF
TerrainHitbox = 0xFFFF8844
OtherHitbox = 0xFFFFFFFF

# 默认为 1，数值越大视野越广
CameraZoom = 1
CameraFollow = false
DisableCameraShake = false

[CustomInfoTemplate]
# paused: {GameManager.isPaused}
# canAttack: {HeroController.CanAttack()}
# geo: {HeroController.playerData.geo}
# geo: {PlayerData.geo}
# jumping: {HeroControllerStates.jumping}
# component: {Crawler Fixed.GetComponentInChildren(BoxCollider2D)}
# crawler hp: {Crawler Fixed.LocateMyFSM(health_manager_enemy).FsmVariables.FindFsmInt(HP)}